<h1>New skin</h1>

<% form_for(@skin , :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<p><label for="skin_name">name</label><br/>
  <%= text_field 'skin', 'name'  %></p>
  <p><label for="skin_width">width</label><br/>
  <%= text_field 'skin', 'width', :size=>10 %></p>
  <p><label for="skin_height">height</label><br/>
  <%= text_field 'skin', 'height', :size=>10 %></p>
  <p><label for="skin_public">public</label><br/>
  <%= check_box 'skin', 'public'  %></p>
  <p><label for="skin_active">active</label><br/>
  <%= check_box 'skin', 'active'  %></p>
  <% fields_for @image do |image| %>
    <p><label for="image_file">File</label><br/>
    <input type="file" name="image[file]" /></p>

  <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>

<%= link_to 'Back', skins_path %>
